@charset "UTF-8";
/* CSS Document */

body{
  font-family: sans-serif;
  color:black;

}


.outer{
  text-align: center;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
	align-content: center;
}

.logo{
	width:120px;
}

/* HERO IMAGE */


.hero_content img{
	width:100%;
	height:auto;
	
}

.hero_content img:hover{
	width:100%;
	height:auto;
	
}


/* 6 IMAGES OF NATIONAL PARKS */

.mimg{
	max-width:160px;
	height: auto;
	  padding:20px;
   width:200px;
   box-sizing: border-box;
   margin:0px;

}

.mimg:hover{
	max-width:160px;
	height: auto;
	animation-fill-mode: forwards;
   animation-name: changescale;
   animation-duration: .5s;
   animation-timing-function: ease-out;
	transform: translate(0,0) scale(2,2);
}


/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;
   
}

div [class^="side_bar"]:last-of-type {
    margin: 0px;
   
}